---
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import Layout from "../components/Layout.astro";
import SocialTabs from "../components/SocialTabs.astro";
import TwitterTab from "../components/TwitterTab.astro";
import InstagramTab from "../components/InstagramTab.astro";
import FacebookTab from "../components/FacebookTab.astro";
import ChatGPTTab from "../components/ChatGPTTab.astro";
---

<script>
  import "bootstrap/dist/js/bootstrap.js";
  import { initializePreviews } from "../scripts/updatePreviews.js";
  
  document.addEventListener("DOMContentLoaded", initializePreviews);
</script>

<Layout title="Social Media Post Mockup Generator">
  <div class="container py-4">
    <h1 class="mb-4">Social Media Post Mockup Generator</h1>
    
    <SocialTabs />
    
    <div class="tab-content">
      <TwitterTab />
      <InstagramTab />
      <FacebookTab />
      <ChatGPTTab />
    </div>
  </div>
</Layout>
