<ul class="nav nav-pills mb-4" role="tablist">
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link active" 
      data-bs-toggle="tab" 
      data-bs-target="#twitter-tab" 
      type="button"
    >
      Twitter
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      data-bs-toggle="tab" 
      data-bs-target="#instagram-tab" 
      type="button"
    >
      Instagram
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      data-bs-toggle="tab" 
      data-bs-target="#facebook-tab" 
      type="button"
    >
      Facebook
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      data-bs-toggle="tab" 
      data-bs-target="#chatgpt-tab" 
      type="button"
    >
      ChatGPT
    </button>
  </li>
</ul> 